{% extends 'base.html' %}


{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django  App</h1>
        <p1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus ducimus sequi provident corrupti eos nemo
            repellendus fugiat adipisci, nesciunt odio doloremque aspernatur alias, optio asperiores dolores, praesentium
            rem
            harum iste ut neque minus? Aliquam voluptatibus molestiae reiciendis rem dicta assumenda facere minima dolore
            modi
            in ipsam delectus sed consequuntur nam, autem architecto earum laboriosam, cupiditate alias natus, unde eum
            nisi!
            Culpa, sed esse a perferendis tempora quisquam eaque incidunt praesentium ad? Aliquid ratione iure totam
            voluptas
            fuga distinctio facere, illo, consectetur corporis itaque perspiciatis omnis error minus nobis deleniti, qui
            repudiandae eos porro nam maxime iusto natus? Incidunt, eos iure.</p1>

            <div class="text-center">
                <a class="btn btn-primary" href="/signin">
                    Signin
                </a>
                <a class="btn btn-secondary" href="/signup">
                    Signup
                </a>
            </div>
    </section>
</main>
{% endblock %}